<!-- chnote Added "extends base" below 10/10/18 -->
{% extends 'medicare/base.html' %}

{% block content %}

{% include 'pagination.html' %} 

<!-- added above after taking out nav (section 5.4 of exercise 7, nov 5 2018-->

<article>
  <header>
    <div class="row">
      <div class="col-sm-11">
        <h2>Medicare Providers</h2>
      </div>
      <div class="col-sm-1">
<!--         {% if user.is_authenticated %} --> 
<!-- chnote2 COMMENT THIS AUTHENTICATION BACK IN LATER. -->


          <a class="btn btn-outline-secondary" href="{% url 'provider_new' %}">new</a>
        {% endif %}
      </div>
    </div>
  </header>

  <!-- WARNING: there is no missing code between <nav>...</nav> -->


  {% if providers %}
  <ul>

    <!-- chnote added for site in sites 10/10/18 -->

    {% for provider in providers %}

    <!-- safe filter on for raw HTML stored in database -->
    <li><a href="{% url 'provider_detail' provider.pk %}">{{ provider.provider_name | safe }}</a></li>


    <!-- chnote added endfor 10/10/18 -->

    {% endfor %}

  </ul>
  {% else %}
  <p>No providers are available to view.</p>
  {% endif %}

  <p>page count: {{ providers.count }}</p>
</article>

{% endblock content %}}